* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body{
    width: 980px;
    margin: auto;
    background-color: rgb(181, 214, 159);
}

label{
    display: block;
}

label span{
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
}